*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
}

:root {
  /* Color palette variables */
  --primary: #82001A;
  --primary-light: #B22334;  /* Lighter shade of the primary color */
  --dark-gray: #3B3434;
  --medium-gray: #495057;
  --light-gray: #869791;
  --darker-gray: #1A1A1A;
  --gray: #4F4F4F;
  --light-medium-gray: #909090;
  --very-light-gray: #D6D6D6;
  --background-light: #F5F5F7;
  --white: #FFFFFF;
}